<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-light border-bottom box-shadow">
    <h5 class="my-0 ml-5 mr-md-auto font-weight-normal text-dark">Chat App</h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-4 text-dark" href="/home">Home</a>
      <a class="p-4 text-dark dropdown-toggle" data-toggle="dropdown" id="request__amount"><i class="fa fa-user-friends fa-lg"></i></a>
      <ul class="dropdown-menu py-1" id="request__dropdown" style="width:300px; position:relative;">
        
      </ul>
      <a class="p-4 text-dark" href="#">messages</a>
      
    </nav>
    <a class="btn btn-outline-primary" href="#">logout</a>
  </div>

  <script>
    function renderRequest(requests){
      $('#request__amount span').remove();
      $('#request__dropdown').empty();
      $('#request__dropdown').append('<h4>Friend Requests</h4><hr>')
      if(requests.length === 0){
        $('#request__dropdown').append('<p>No friend request</p>')
      }else{
        $('#request__amount').append(`
         <span class="badge badge-danger">${requests.length}</span>
        `)
        requests.forEach(request => {
          $('#request__dropdown').append(`
            <li class="my-1">
              <div class="row" >
                <div class="col-md-6">
                  <img class="img-responsive" src="${request.userImage}" style="width:50px; height:50px">
                  <span>${request.username}</span>
                </div>
                <div class="col-md-6">
                  <button class="btn btn-sm btn-success" id="confirm__request__${request._id}">Confirm</button>
                  <button class="btn btn-sm btn-danger" id="decline__request__${request._id}">Deline</button>
                </div>
              </div>
              <hr>
            </li>
          `)
        })
      }
    }
  </script>