.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); };

.card-deck .card {
  min-width: 180px;
}

/* friends list */
.friends__list {
  min-height: 45vh;
  width: 22vw;
}

.friends__list__title {
  background:rgb(101, 171, 192);
  border:2px solid #DDDDDD;
  font-weight:bold;
  font-size:25px;
  color:#FFFFFF;
}

.avatar{
  height: 3rem;
  width: 3rem;
}

.friends__offline img{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

/* all users list */
.online__users{
  min-height: 85vh;
}

.allusers__list__title{
  background:rgb(32, 36, 37);
  border:2px solid #DDDDDD;
  font-weight:bold;
  font-size:30px;
  color:#FFFFFF;
}

.allusers__offline img{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

/* room users list */
.roomusers__list__title{
  background:rgb(35, 240, 113);
  border:2px solid #DDDDDD;
  font-weight:bold;
  font-size:25px;
  color:#FFFFFF;
}

/* chat form*/
.chat__main {
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 100%;
}

.chat__messages {
  flex-grow: 1;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.chat__footer {
  background: #e6eaee;
  display: flex;
  padding: 10px;
  /*height: 60px;*/
  flex-shrink: 0;
}

.chat__footer form {
  flex-grow: 1;
  display: flex;
}

.chat__footer form * {
  margin-right: 10px;
}

.chat__footer input {
  border: none;
  padding: 10px;
  flex-grow: 1;
}

.chat__messages {
  list-style-type: none;
  padding: 10px;
}

.message {
  padding: 2px;
}

.message__title {
  display: flex;
 
}

.message__title h4 {
  font-weight: 600;
  margin-right: 10px;
}

.message__title span {
  color: #999;
}

@media (max-width: 600px) {
  * {
    font-size: 1rem;
  }

  .chat__sidebar {
    display: none;
  }

  .chat__footer {
    flex-direction: column;
  }

  .chat__footer form {
    margin-bottom: 10px;
  }

  .chat__footer button {
    margin-right: 0px;
  }
}

/* user profile */
.user__profile__image {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form__label{
  width: 150px;
}

.form__label label{
  font: 22px bold;
}

.form__info{
  border-bottom: 1px solid lightgray;
}

.form__info label{
  font-family: sans-serif;
  font-size: 18px;
  font-style: italic
}

.upload__image__button {
  position: relative;
  overflow: hidden;
  display: inline-block;
  
} 

.upload__image__button input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}